#nav-bar {
    display: inline-block;
    padding: 40px;
    background-color: black;
    overflow: hidden;
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;  
   margin-bottom: auto;
   display: inline-block;
   text-align: center;
    max-width: 100%;}
.top-box {
   background-color: black;
   padding: 5px;
   border-width: 5px;
   border-color: white;
   border-style: solid;
   position: relative;
   width: 70%;
   max-width: 100%;
   }