@media screen and (max-width: 768px) {
    #welcome-section {
        flex: 1;
        height: 100vh;
        background-color: teal;
        flex-wrap: wrap;
        overflow: hidden;
    }
}
@media screen and (min-width: 767px) {
   #welcome-section { 
    flex: 1;
    height: 100vh;
    background-color: teal;
    flex-wrap: wrap;
    max-width: 100%;
}
}
html, body {
    margin: 0;
    height: 100%;
}
#navbar {
    background-color: blue;
}
#projects {

}
#project-tile {

}
#flex-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
footer {
    flex: 1;
    overflow: auto;
    background-color: yellow;
}
main {
    flex: 1;
    overflow: auto;
}
section {
    height: 100%;
    overflow: auto;
    background-color: limegreen;
}
#profile-link {
    
}