@media screen and (max-width: 768px) {
    #welcome-section {
        flex: 1;
        height: 100vh;
        background-color: white;
        flex-wrap: wrap;
        overflow: hidden;
    }
}
@media screen and (min-width: 767px) {
   #welcome-section { 
    flex: 1;
    height: 100vh;
    background-color: white;
    flex-wrap: wrap;
    max-width: 100%;
}
}
html, body {
    margin: 0;
    height: 100%;
}
#navbar {
    list-style-type: none;
    background-color: #8c43ff;
    position: fixed;
    top: 0px;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: white;
    
}
#projects {

}
.project-tile {

}
#flex-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
footer {
    flex: 1;
    overflow: auto;
    background-color: #8c43ff;
}
main {
    flex: 1;
    overflow: auto;
    margin-top: 80px;
}
section {
    height: 100%;
    overflow: auto;
    background-color: #939598;
}
#profile-link {
    
}
#navbar li {
				display: inline-block;
}
#testamonials {
				background-color: white;
				padding: 50px;
}