@media screen and (min-width: 768px) {
    #nav-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #education-div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

#photo-banner { 
    background-color: #939598;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    padding: 10px;
    }

html, body {
    margin: 0;
    height: 100%;
}
#navbar {
    flex: 0 0 auto;
    background-color: #8c43ff;
    padding: 20px;
    text-align: left;
    color: white;
}
#flex-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
footer {
    flex: 1;
    background-color: #8c43ff;
}
main {
    flex: 1;
    overflow: auto;
}
#profile-link {
    
}
#navbar li {
    display: inline-block;
}
#testamonials {
    background-color: white;
    padding: 50px;
}
#skills {
    background-color: white;
    padding: 50px;
}
#projects {
    background-color: #939598;
    padding: 50px;
}
#etsu {
    flex: 1;
    background-image: url(ETSU.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
}
#wgu {
    flex: 1;
    background-image: url(wgu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
}
#sprint {
    background-image: url(Sprint.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding:150px;
}
#certs {
    background-color: #8c43ff;
    padding: 50px;
}
#profile-pic {
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}
#nav-box1 {
    flex: 1;
    text-align: center;
}
#nav-box2 {
    flex: 2;
    text-align: center;
    font-family: open-sans;
}
#nav-box3 {
    flex: 1;
    text-align: center;
    font-family: open-sans;
}
.edu-box {
    display: block;
    background-color: white;
    color: black;
    border-radius: 10%;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    opacity: .7;
    text-align: center;
}
#about-me {
    background-color: white;
    text-align: center;
    color: black;
    font-family: open-sans;
}
h1 {
    margin-top: 20px;
}
#hello {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 25%;
}
